@{
    ViewData["Title"] = "Information";
    ViewData["Number"] = 0;
}
<h1>@ViewData["Title"]</h1>
<p class="p-2 font-monospace">@ViewData["Number"]</p>

<button class="bg-info">
    Увеличить на единицу
</button>

<div>
    <button class="bg-danger">
        Уменьшить на единицу
    </button>
</div>

<p>This is the information page</p>
